<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/bootstrap.php">
    <testsuites>
        <testsuite name="Enxp">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <!-- Optional settings -->
    <php>
        <!-- Example setting for error reporting -->
        <ini name="error_reporting" value="-1" />

        <!-- Example setting for display_errors -->
        <ini name="display_errors" value="1" />
    </php>
</phpunit>
